<div id=Titel>THE WORLD'S SIMPLEST KLICKER GAME</div>
<div id=Eingabe>Put your mouse pointer here.</div>
<div id=Ausgabe>Ausgabe</div>

<script>
	'use strict';
	
	var eingabe = document.getElementById('Eingabe');
	var ausgabe = document.getElementById('Ausgabe');
	var klicks = 0
	eingabe.addEventListener('mouseover', mouseOver);
	eingabe.addEventListener('mouseout', mouseOut);
	eingabe.addEventListener("mousedown", mouseDown);
    eingabe.addEventListener("mouseup", mouseUp);	
	
	punktestand(0)
	
	function punktestand(klicks) {
	var punkte = klicks
	var ergebnis = 'Clicks: ' + punkte;
	ausgabe.innerHTML = ergebnis;
	}
	
	function mouseOver() {
	eingabe.innerHTML = 'Now click.';
	}

	function mouseOut() {
	eingabe.innerHTML = 'Put your mouse pointer here.';
	}
	
 
    function mouseDown() {
    eingabe.innerHTML = 'You are clicking.';
	klicks = klicks + 1;
	punktestand(klicks)
    }
 
    function mouseUp() {
    eingabe.innerHTML = 'You clicked. Well done! Do that again.';
    }


</script>